*{
    margin: 0;
    padding: 0;
  }
  body{
    font-family: sans-serif;
    background-color: #004643;
  }
  
  header{
    padding: 20px;
    color: #abd1c6;
  }
  main{
    height: 1200px;
    padding: 20px;
    background-color: #e8e4e6;
    margin: 10px;
    position: relative;
  }

  aside{
    position: absolute;
    bottom: 6px;
    right: 6px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #abd1c6;
  }
  
  section{
    height: 120px;
    width: 180px;
    background-color: white;
    padding: 20px;
    margin: 10px 0;
  }
  
  nav{
    padding: 20px;
    background-color: white;
    position: sticky;
    top: 0;
  }
  
  footer{
    background-color: #abd1c6;
    padding: 20px;
  }

  footer:hover{
    background-color: rgb(244, 244, 103);
  }

  section.josias:active{
    background-color: rgb(55, 173, 134);
  }

.texto-centralizado{
  text-align: center;
}

button{
  border: none;
}